.image {
  width: 18rem;
  height: 25rem;
  margin: -12.5rem 0 0 -9rem;
  position: absolute;
  top:50%;
  opacity:0;
  left:50%;
  transform-origin: 50% 50%;
  transform-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(78%) brightness(.5) contrast(190%);
  &:before {
    position: absolute;
    content:'';
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    z-index: 50;
  }
}
